# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit Secrets
.streamlit/secrets.toml

# Model Files

models/checkpoints/

# Temporary Uploads
streamlit_app/uploads/
streamlit_app/temp/

# Generated Reports
reports/

# OS Files
.DS_Store
Thumbs.db